.App {
  background-color: darkgreen;
  color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 25px;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}
li {
  margin-bottom: 10px;
}
.nav a {
  color: lightgray;
  text-decoration: none;
}
